<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
</head>
<body>
    <div class="container">
        <div>
            <!-- TOPO -->
        </div>
        <div>
            <!-- Esquerda -->
        </div>
        <div>
            <!-- Counteudo -->
        </div>
    </div>
    <footer>
        <% include ./partials/footer %>
    </footer>
</body>
</html>